.conBut {
    border-radius: 25px;
    font-size: small !important;
}

.ishide {
    display: none;
}

.constructor {
    border: 3px dotted black;
    height: 300px;
    width: 150px;
    margin: 0 auto;
}
.frontBack{
    display: none;
    justify-content: space-around;
}
.par {
    border: 3px dotted black;
    height: 300px;
    width: 150px;
}

.front {
    display: none;
    border: 2px dotted black;
    margin: 9px;
    height: 280px;
    width: 125px;
}

.front2 {
    border: 2px dotted black;
    margin: 9px;
    height: 280px;
    width: 125px;
}

.backTop, .backButton {
    border: 2px dotted black;
    margin: 25px;
    height: 111px;
    width: 96px;
}
.tabcontent{
    
}
li{
    list-style: none;
}

.list[_ngcontent-ogw-c120] {
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
    margin: 0 -3px;
}

.item[_ngcontent-ogw-c120] {
    padding: 8px;
}

.color-select[_ngcontent-ogw-c120] {
    height: 32px;
    width: 32px;
    display: block;
    border-radius: 100%;
    border: 2px solid #ebebeb;
    cursor: pointer;
    transition: .3s;
}
/*upload*/
